name: AutoBuild

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 16.x, 18.x]

    steps:
    - uses: actions/checkout@v3

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}

    - name: Download Yarn
      run: npm install --global yarn
                  
    - name: Download Lld
      run: apt-get install lld-8
      
    - name: Download Gluon
      run: yarn global add gluon-build@next
      
    - name: Download Files
      run: gluon download
            
    - name: Bootstrap
      run: gluon bootstrap
            
    - name: Import
      run: gluon import
            
    - name: Build
      run: gluon build
